#whoWeAre{
    display: flex;
    margin:5rem auto;
}
#whoWeAre img{
    margin: 0 6rem;
    height: 9rem;
}
#whoWeAre p{
    margin-right: 6rem;
}

footer{
    background-color: #422755;
    height: 8rem;
    display:flex;
    color:white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: .8rem;
}