@media (max-width:1200px){
    .card-section{
        display: grid;
        justify-content: center; 
        grid-template-columns: repeat(2, 1fr);      
        margin:3rem 20%;
    }
    .card{
        margin:auto;
    }
}
/* @media (min-width:860px){
    .card p{
        height: 1.5rem;
    }
} */
@media (max-width:860px){
    
    .card-section{
        row-gap:1px;
        grid-template-columns: repeat(1 ,28rem);
    }
    .card {
        flex-direction: row;
        height: 12rem;
        width: 83%;
        /* margin: 2rem auto; */
        display: flex;
        margin:1rem 1.3rem;
    }
        .short-deadline{
            font-weight: bold;
            font-size: .8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            margin-left: -2rem;
            position: absolute;
            background-color: #422755;
            color: white;
            height: 2rem;
            width: 6rem;
            border-top-right-radius: .6rem;
            border-bottom-right-radius: .6rem;
        }
        .card-description{
            width: 100%;
        }
        .card button{
            height: 2.5rem;
            margin-top: 4rem;
        }
        .card-section img{
            height: 12rem;
            width:10rem;
            margin-bottom: .8rem;
        }
        .card p{
            /* margin-bottom: .4rem; */
            font-size: .8rem;
        }
        .card-body{
            margin-left: 1rem;
        }
        .card-img{
            width: 1rem;
        }
    #whoWeAre{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    #whoWeAre p{
        margin:3rem;
    }
    #whoWeAre img{
        margin: 0 auto;
    }
    .search{
        flex-direction: column;
        margin:.7rem;
        height: 10rem;
    }
}
@media (max-width:400px){
    .header-title{
        background: linear-gradient(90.3deg, #422755 86%, rgba(255,255,255,1) 86.4%);
    }
        .header-title h1{
            font-size: 1.9rem;
        }
        .header-title p{
            font-size: 1.1rem;
            margin:auto 1rem;
        }
    .card-section img{
        width: 9rem;
    } 
    .card{
        margin:auto auto 1.5rem auto;
        width: 70%;

    }
        .card h3{
            font-size: .9rem;
        }
    #whoWeAre{
        margin:auto
    }

}